/*  
common.css - MoinMoin Modern CentOS Style.

	Modifications are based on MoinMoin Default modern
	style and Fedora Cora Style Sheets.
	
Alain Reguera Delgado <alain.reguera@gmail.com>
*/

/* Content Styles */

html {
	color: black;
	font-family: Arial, Lucida Grande, sans-serif;
	font-size: 14px;
	}


body {
	padding: 0;
	margin: 0;
	}

/* Links */

a.www:before {white-space:nowrap; content: url(../img/moin-www.png); margin: 0 0.2em;}
a.http:before {white-space:nowrap; content: url(../img/moin-www.png); margin: 0 0.2em;}
a.https:before {white-space:nowrap; content: url(../img/moin-www.png); margin: 0 0.2em;}
a.file:before {white-space:nowrap; content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.ftp:before {white-space:nowrap; content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.nntp:before {white-space:nowrap; content: url(../img/moin-news.png); margin: 0 0.2em;}
a.news:before {white-space:nowrap; content: url(../img/moin-news.png); margin: 0 0.2em;}
a.telnet:before {white-space:nowrap; content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.irc:before {white-space:nowrap; content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.mailto:before {white-space:nowrap; content: url(../img/moin-email.png); margin: 0 0.2em;}
a.attachment:before {white-space:nowrap; content: url(../img/moin-attach.png); margin: 0 0.2em;}
a.badinterwiki:before {white-space:nowrap; content: url(../img/moin-inter.png); margin: 0 0.2em;}
a.interwiki:before {white-space:nowrap; content: url(../img/moin-inter.png); margin: 0 0.2em;}

li p {
	margin: .25em 0;
	}

li.gap {
	margin-top: 0.5em;
	}

dt {
	margin-top: 0.5em;
	font-weight: bold;
	}

dd {
	margin-top: 0;
	margin-bottom: 0;
	}

dd p {
	margin: 0.25em 0;
	}
	 
a, img, img.drawing {
	border: 0;
	}

pre {
	border: 1pt dashed #797979;
	background-color: #F3F3F3;
	padding: 0.5em 1em;
	margin: 0.5em 0 0.5em 0;
	font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
	white-space: pre;
	/* begin css 3 or browser specific rules - do not remove!
	see: http://forums.techguy.org/archive/index.php/t-249849.html */
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	/* end css 3 or browser specific rules */
	}

div {
	margin:0; 
	padding:0;
	}

pre.comment {
	background-color: #CCCCCC;
	color: red;
	padding: 0;
	margin: 0;
	border: 0;
	}

pre.comment:before {
	content: url(../img/attention.png);
	}


table {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-collapse: collapse;
	}

td {
	border: 1pt;
	border-style: solid;
	border-color: #ADB9CC;
	padding-top: 0.25em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	}

td p {
	margin: 0;
	padding: 0;
	}

/* TableOfContents macro */

.table-of-contents {
	color: black; 
	background: #fff url("../img/moin-toc-bg-blue.png") right repeat-y; 
	border: 1px solid #CCCCCC;
	font-size: small;
	text-align:left;
	padding-bottom: 15px;
	margin: 0;
	width: 70%;
	}

.table-of-contents ol { margin:0; margin-left:1em;  list-style-type:decimal; }
.table-of-contents ul { margin:0; list-style: url(../img/moin-ul.png); }
.table-of-contents-heading { font-weight:bold; padding:0px; margin:10px;}

.footnotes div {
	width: 5em;
	border-top: 1pt solid gray;
	}

.footnotes ul {
	padding: 0 2em;
	margin: 0 0 1em;
	list-style: none;
	}

.footnotes li {
	}

.info {
	float:right;
	font-size: 0.7em;
	color: gray;
	}

#pageinfo {
	margin: 20px 0 0 0;
	}

.seperator {
	color: gray;
	}

#pagebottom {clear: both;}

/* standard rule ---- */

hr {
	height: 1px;
	background-color: #9C9C9C;
	border: 0;
	}

/* Custom Rules from ----- to ---------- */

.hr1 {height: 2px;}
.hr2 {height: 3px;}
.hr3 {height: 4px;}
.hr4 {height: 5px;}
.hr5 {height: 6px;}
.hr6 {height: 7px;}

/* Replacement for deprecated html 3 <u> element and html 4 <strike> */

.u {text-decoration: underline;}
.strike {text-decoration: line-through;}

/* Eye Catchers */

.warning {
	color: red;
	}

.error {
	color: red;
	}

strong.highlight {
	background-color: #CCE0FF;
	padding: 1pt;
	}

/* Recent Changes */

.rcrss {
	float: right;
	margin: 0;
	}

.recentchanges[dir="rtl"] .rcrss {
	float: left;
	}

.recentchanges table {
	clear: both;
	border-width: 1px;
	border-style: solid;
	border-color: #EDEDED;
	}

.recentchanges td {
	vertical-align: top;
	border-width: 1pt;
	border-style: solid;
	border-color: #E6EAF0;
	background: #F2F4F7;
	}

.rcdaybreak td {
	background: #B8C5D9;
	border: none;
	}

.rcdaybreak td a {
	font-size: 0.88em;
	}

.rcicon1, .rcicon2 {
	text-align: center;
	}

.rcpagelink {
	width: 33%;
	}

.rctime {
	font-size: 0.88em;
	white-space: nowrap;
	}

.rceditor {
	white-space: nowrap;
	font-size: 0.88em;
	}

.rccomment {
	width: 50%;
	color: gray;
	font-size: 0.88em;
	}

/* User Preferences */

.userpref table, .userpref td {
	border: none;
	}

/* CSS for new code_area markup used by Colorizer and ParserBase */

div.codearea { /* the div makes the border */
	margin: 0.5em 0;
	padding: 0;
	border: 1pt solid #797979;
	background-color: #F3F3F3;
	color: black;
	}

div.codearea pre { /* the pre has no border and is inside the div */
	margin: 0;
	padding: 10pt;
	border: none;
	}

a.codenumbers { /* format of the line numbering link */
	margin: 0 10pt;
	font-size: 0.85em;
	color: gray;
	}

/* Format of certain syntax spans */

div.codearea pre span.LineNumber {color: gray;}
div.codearea pre span.ID         {color: #000000;}
div.codearea pre span.Operator   {color: #0000C0;}
div.codearea pre span.Char       {color: #004080;}
div.codearea pre span.Comment    {color: #008000;}
div.codearea pre span.Number     {color: #0080C0;}
div.codearea pre span.String     {color: #004080;}
div.codearea pre span.SPChar     {color: #0000C0;}
div.codearea pre span.ResWord    {color: #A00000;}
div.codearea pre span.ConsWord   {color: #008080; font-weight: bold;}
div.codearea pre span.Error      {color: #FF8080; border: solid 1.5pt #FF0000;}
div.codearea pre span.ResWord2   {color: #0080ff; font-weight: bold;}
div.codearea pre span.Special    {color: #0000ff;}
div.codearea pre span.Preprc     {color: #803999;}

/* Search results */

.searchresults dt {
	margin-top: 1em;
	font-weight: normal;
	}

.searchresults dd {
	font-size: 0.85em;
	}

/* MonthCalendar css */

/* Days without and with pages linked to them */

a.cal-emptyday {
	color: #777777;
	text-align: center;
	}

a.cal-usedday {
	color: #000000;
	font-weight: bold;
	text-align: center;
	}

/* General stuff: workdays, weekend, today */

td.cal-workday {
	background-color: #DDDDFF;
	text-align: center;
	}

td.cal-weekend {
	background-color: #FFDDDD;
	text-align: center;
	}

td.cal-today {
	background-color: #CCFFCC;
	border-style: solid;
	border-width: 2pt;
	text-align: center;
	}

/* Invalid places on the monthly calendar sheet */

td.cal-invalidday {
	background-color: #CCCCCC;
	}

/* Links to prev/next month/year */

a.cal-link {
	color: #000000;
	text-decoration: none;
	}

th.cal-header {
	background-color: #DDBBFF;
	text-align: center;
	}

/* For MonthCalendar mouseover info boxes */

TABLE.tip {
	color: black;
	background-color: #FF8888;
	font-size: small;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	}

TH.tip {
	background-color: #FF4444;
	font-weight: bold;
	text-align: center;
	}

TD.tip {
	text-align: left;
	}

*[dir="rtl"] TD.tip {
	text-align: right;
	}

/* End MonthCalendar stuff */
