---
format: Org
categories: software
toc: yes
title: questasim
content: on using mentor's questasim
...

* Introduction

On how to make it run under ArchLinux

* Problems

** Fonts

Based on [[http://mattaw.blogspot.fr/2014/05/making-modelsim-altera-starter-edition.html][this]] article. Basically, there is a problem with freetype fonts used by questasim.
We have to download the old package sources, compile and tell questasim to use them.

Here we go

Replace standard 64 bits packages by their 32 bits equivalent (don't forget to
remove them afterwards)

#+begin_src sh
  yaourt gcc-multilib
  yaourt gcc-libs-multilib
#+end_src

Download and build fonts

#+begin_src sh
  wget http://download.savannah.gnu.org/releases/freetype/freetype-2.4.12.tar.bz2
  extract freetype-2.4.12.tar.bz2
  cd freetype-2.4.12.tar.bz2
  ./configure --build=i686-pc-linux-gnu "CFLAGS=-m32" "CXXFLAGS=-m32" "LDFLAGS=-m32"
  make
#+end_src

Copy them under the questasim folder

#+begin_src sh
  mkdir -p /opt/Mentor/questasim/lib32
  cd /opt/Mentor/questasim/lib32
  sudo cp /tmp/free/freetype-2.4.12/objs/.libs/libfreetype.so* .
#+end_src

Finallly, instruct questasim to use them

#+begin_src sh
  sudo /usr/bin/zile /opt/Mentor/questasim/bin/vsim
  export LD_LIBRARY_PATH=/opt/Mentor/questasim/lib32
  dir=`dirname "$arg0"`
#+end_src

** Ncurses missing

To fix the problem with

#+begin_src sh
  $ ./vsim
  vish: error while loading shared libraries: libncurses.so.5: cannot open shared object file: No such file or directory
#+end_src

proceed as follows:

  - Install from AUR the package =lib32-ncurses5-compat-libs=. Problem is that
    this requires removing libraries required by =wine= (=lib32-libxml2=,
    etc.). To solve the issue, dont install but just create the package and put
    all =/usr/lib32= files under =/questasim/lib32/=.
