---
format: HTML
categories: bookmarks
toc: yes
title: The Kitchin Research Group
content:
...



<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Kitchin Research Group</title>
  <meta name="google-site-verification" content="CGcacJdHc2YoZyI0Vey9XRA5qwhhFDzThKJezbRFcJ4" />
  <meta name="description" content="Chemical Engineering at Carnegie Mellon University">
  <meta name="author" content="John Kitchin">
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/blog/feed" />
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/blog/feed/atom" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/base.css?v=1">
  <link rel="stylesheet" href="/css/grid.css?v=1">
  <link rel="stylesheet" media="handheld" href="/css/handheld.css?v=1">
  <link rel="stylesheet" href="/css/pygments_murphy.css" type="text/css" />

  <script src="/js/libs/modernizr-1.7.min.js"></script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  <link rel="stylesheet" href="/themes/theme1/style.css?v=1">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
  <body>
    <div id="container" class="container container_12">
      <div id="main" role="main">
        <div id="main_block">
          <header>
<div id="header" class="header_gradient theme_font">
<table><tr><td>
    <h1><a href="/">The Kitchin Research Group</a></h1>
    <h2>Chemical Engineering at Carnegie Mellon University</h2>
</td>
<td colspan=100%><div style="float:right;width:100%;text-align:right;"> <span id='badgeCont737515' style='width:126px'><script src='http://labs.researcherid.com/mashlets?el=badgeCont737515&mashlet=badge&showTitle=false&className=a&rid=A-2363-2010'></script></span></div>
</td></tr>
</table>
</div>
  <div id="navigation" class="grid_12">

    <ul class="theme_font">
      <li><a href="/blog"
             class="">Blog</a></li>

      <li><a href="/blog/archive"
             class="">Archives</a></li>

      <li><a href="/publications.html">Publications</a></li>

      <li><a href="/research.html"
             class="">Research</a></li>

      <li><a href="/categories.html"
             class="">Categories</a></li>

      <li><a href="/about.html"
             class="">About us</a></li>

      <li><a href="/subscribe.html">Subscribe</a></li>

    </ul>
  </div>
</header>

          <div id="prose_block" class="grid_8">







<article>
  <div class="blog_post">
    <header>
      <div id="A-helm-mu4e-contact-selector"></div>
      <h2 class="blog_post_title"><a href="/blog/2015/03/14/A-helm-mu4e-contact-selector/" rel="bookmark" title="Permanent Link to A helm-mu4e contact selector">A helm-mu4e contact selector</a></h2>
      <p><small><span class="blog_post_date">Posted March 14, 2015 at 10:21 AM</span> | categories:
        <span class="blog_post_categories"><a href='/blog/category/helm/'>helm</a>, <a href='/blog/category/emacs/'>emacs</a>, <a href='/blog/category/email/'>email</a></span> | tags:
        | <a href="http://jkitchin.github.io/blog/2015/03/14/A-helm-mu4e-contact-selector#disqus_thread">View Comments</a>
      </small></p>
    </header>
    <div class="post_prose">




<p>
I have been using <a href="http://www.djcbsoftware.nl/code/mu/mu4e.html">mu4e</a> in Emacs for email for about three months now. It is pretty good, and I hardly ever use the gmail web interface any more. The email completion in mu4e is ok, but I am frequently surprised at what it does not find, and totally spoiled by how good Gmail is at this. The built in completion seems to get lost if you don't start the search with the first few letters. Not always, but too often for me. I don't always remember the first letters, and want to search by name, or company. I would love to search by tags in org-contacts. This should be simple in helm, where you can build up candidates with different bits of information. Here I explore a helm interface, which I think might be better than the built in mu4e support, and even be better than gmail.
</p>

<p>
In my dream email completer, I want some easy way to define my own groups, I want to use org-contacts (and its tags), and I want every email address in the mails I have in my archive as completion candidates.  helm supports multiple sources, so I initially tried a separate source for each of these. Preliminary efforts suggested it is not possible to mark multiple selections from different sources and pass them all to one function. So, we combine all email candidates into one list of (searchable-string . email-address) cons cells. To get an idea of how many contacts we are looking at:
</p>

<p>
Here is what I have in my org-contacts file:
</p>
<div class="org-src-container">

<pre class="src src-emacs-lisp">(length (org-contacts-db))
</pre>
</div>

<pre class="example">
173
</pre>

<p>
And here is what mu4e knows about. Interestingly, it takes a while for this variable to get populated because the request is asynchronous. After the first time though it sticks around. I think just opening mu4e will populate this variable.
</p>
<div class="org-src-container">

<pre class="src src-emacs-lisp">(length mu4e~contacts-for-completion)
</pre>
</div>

<pre class="example">
12717
</pre>

<p>
So, I have close to 13,000 potential email addresses to choose from. For my email groups, I will just use a list of cons cells like (group-name . "comma-separated emails"). Then, I will loop through the org-contacts-db and the mu4e completion list to make the helm candidates. Finally, we add some functions to open our org-contact, and to tag org-contacts so it is easier to make groups.
</p>

<p>
Here is the code I have been using.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp"><span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">here we set aliases for groups.</span>
(setq email-groups
      '((<span style="color: #008000;">"ms"</span> . <span style="color: #008000;">"email1, email2"</span>)
        (<span style="color: #008000;">"phd"</span> . <span style="color: #008000;">"email3, email4"</span>)))


(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">org-contacts-open-from-email</span> (email)
  <span style="color: #036A07;">"Open org-contact with matching EMAIL. If no match, create new</span>
<span style="color: #036A07;">entry with prompts for first and last name."</span>
  (<span style="color: #0000FF;">let</span> ((contact (<span style="color: #0000FF;">catch</span> '<span style="color: #D0372D;">contact</span>
                   (loop for contact in  (org-contacts-db)
                         do
                         (<span style="color: #0000FF;">when</span> (string= email (cdr (assoc <span style="color: #008000;">"EMAIL"</span> (elt contact 2))))
                           (<span style="color: #0000FF;">throw</span> '<span style="color: #D0372D;">contact</span> contact))))))

    (<span style="color: #0000FF;">unless</span> contact
                (set-buffer (find-file-noselect (ido-completing-read
                                                 <span style="color: #008000;">"Select org-contact file: "</span>
                                                 org-contacts-files)))
                (goto-char (point-max))
                (insert (format  <span style="color: #008000;">"\n* %s %s\n"</span>
                                 (read-input <span style="color: #008000;">"First name: "</span>)
                                 (read-input <span style="color: #008000;">"Last name: "</span>)))
                (org-entry-put (point) <span style="color: #008000;">"EMAIL"</span> email)
                (save-buffer))

    (<span style="color: #0000FF;">when</span> contact
      (find-file  (cdr (assoc <span style="color: #008000;">"FILE"</span> (elt contact 2))))
      (goto-char (elt contact 1))
      (show-subtree))))


(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">org-contacts-tag-selection</span> (selection)
  <span style="color: #036A07;">"Prompts you for a tag, and tags each entry in org-contacts</span>
<span style="color: #036A07;">that has a matching email in `</span><span style="color: #D0372D;">helm-marked-candidates</span><span style="color: #036A07;">'. Ignore</span>
<span style="color: #036A07;">emails that are not in an org-contact file. I am not sure what</span>
<span style="color: #036A07;">the best thing to do there is. Probably prompt for a file, and</span>
<span style="color: #036A07;">add an entry to the end of it."</span>
  (<span style="color: #0000FF;">save-excursion</span>
    (<span style="color: #0000FF;">let</span> ((tag (read-input <span style="color: #008000;">"Tag: "</span>)))
      (loop for email in (helm-marked-candidates)
            do
            (<span style="color: #0000FF;">let</span> ((contact (<span style="color: #0000FF;">catch</span> '<span style="color: #D0372D;">contact</span>
                             (loop for contact in  (org-contacts-db)
                                   do
                                   (<span style="color: #0000FF;">when</span> (string=
                                          email
                                          (cdr (assoc
                                                <span style="color: #008000;">"EMAIL"</span>
                                                (elt contact 2))))
                                     (<span style="color: #0000FF;">throw</span> '<span style="color: #D0372D;">contact</span> contact))))))
              <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">add new contact and tag it</span>
              (<span style="color: #0000FF;">unless</span> contact
                (set-buffer (find-file-noselect (ido-completing-read
                                                 <span style="color: #008000;">"Select org-contact file: "</span>
                                                 org-contacts-files)))
                (goto-char (point-max))
                (insert (format  <span style="color: #008000;">"\n* %s %s\n"</span>
                                 (read-input <span style="color: #008000;">"First name: "</span>)
                                 (read-input <span style="color: #008000;">"Last name: "</span>)))
                (org-entry-put (point) <span style="color: #008000;">"EMAIL"</span> email)
                (org-set-tags-to (list tag))
                (save-buffer))
              <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">update tags on existing entry</span>
              (<span style="color: #0000FF;">when</span> contact
                (find-file-noselect  (cdr (assoc <span style="color: #008000;">"FILE"</span> (elt contact 2))))
                (set-buffer (marker-buffer (elt contact 1)))
                (goto-char (elt contact 1))
                (org-set-tags-to (append (org-get-tags) (list tag)))))))))


(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">j-insert-emails</span> ()
  <span style="color: #036A07;">"Helm interface to email addresses"</span>
  (interactive)

  (helm <span style="color: #006FE0;">:sources</span> `(((name . <span style="color: #008000;">"Email address candidates"</span>)
                   (candidates . ,(append
                                   <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">my aliases</span>
                                   email-groups
                                   <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">org-contacts</span>
                                   (loop for contact in (org-contacts-db)
                                         collect
                                         (cons (format
                                                <span style="color: #008000;">"%s %s %s &lt;%s&gt; org-contact"</span>
                                                (cdr (assoc <span style="color: #008000;">"FIRSTNAME"</span> (elt contact 2)))
                                                (cdr (assoc <span style="color: #008000;">"LASTNAME"</span> (elt contact 2)))
                                                (cdr (assoc <span style="color: #008000;">"TAGS"</span> (elt contact 2)))
                                                (cdr (assoc <span style="color: #008000;">"EMAIL"</span> (elt contact 2))))
                                               (cdr (assoc <span style="color: #008000;">"EMAIL"</span> (elt contact 2)))))
                                   <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">mu contacts</span>
                                   (loop for contact in mu4e~contacts-for-completion
                                         collect (cons contact contact))))
                   <span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">only action is to insert string at point.</span>
                   (action . ((<span style="color: #008000;">"insert"</span> . (<span style="color: #0000FF;">lambda</span> (x)
                                            (insert
                                             (mapconcat
                                              'identity
                                              (helm-marked-candidates)
                                              <span style="color: #008000;">","</span>))))
                              (<span style="color: #008000;">"open"</span> . org-contacts-open-from-email)
                              (<span style="color: #008000;">"tag"</span>  . org-contacts-tag-selection)))))))

<span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">Finally, let us bind this to something probably convenient. I use c-c ] for</span>
<span style="color: #8D8D84;">;; </span><span style="color: #8D8D84; font-style: italic;">citations. Lets try that in compose mode.</span>
(define-key mu4e-compose-mode-map <span style="color: #008000;">"\C-c]"</span> 'j-insert-emails)
</pre>
</div>
<pre class="example">
j-insert-emails
</pre>

<p>
Now, I have a sweet helm interface with nearly 13,000 email candidates (there is a decent amount of duplication in this list, and some garbage emails from spam, but helm is so fast, this does not bother me). I can pretty quickly narrow to any tagged set of emails from org-contacts with a search that looks like :phd: for example, or [^phd]:group: to get org-contacts tagged group, but not phd. I can narrow the selection on first name, lastname, parts of email addresses, tags in org-contacts, etc&#x2026; I can open a contact, or tag contacts, even add new contacts to org-contacts. I have been using this for a few weeks, and so far I like it. Occasionally I find mu4e~contacts-for-completion is empty, and then I only get my org-contacts emails, but that seems to only happen when I first open emacs. Since Emacs is usually open for days at a time, this has not been an issue very often.
</p>
<p>Copyright (C) 2015 by John Kitchin. See the <a href="/copying.html">License</a> for information about copying.<p><p><a href="/org/2015/03/14/A-helm-mu4e-contact-selector.org">org-mode source</a><p><p>Org-mode version = 8.2.10</p>

    </div>
  </div>
</article>



<a href="https://twitter.com/share" class="twitter-share-button" data-via="johnkitchin">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="after_post"><a href="http://jkitchin.github.io/blog/2015/03/14/A-helm-mu4e-contact-selector#disqus_thread">Read and Post Comments</a></div>
  <hr class="interblog" />






<article>
  <div class="blog_post">
    <header>
      <div id="Helm-at-the-Emacs"></div>
      <h2 class="blog_post_title"><a href="/blog/2015/02/04/Helm-at-the-Emacs/" rel="bookmark" title="Permanent Link to Helm at the Emacs">Helm at the Emacs</a></h2>
      <p><small><span class="blog_post_date">Posted February 04, 2015 at 08:47 AM</span> | categories:
        <span class="blog_post_categories"><a href='/blog/category/helm/'>helm</a>, <a href='/blog/category/emacs/'>emacs</a></span> | tags:
        | <a href="http://jkitchin.github.io/blog/2015/02/04/Helm-at-the-Emacs#disqus_thread">View Comments</a>
      </small></p>
    </header>
    <div class="post_prose">




<p>
I have written several (<a href="http://kitchingroup.cheme.cmu.edu/blog/2015/01/24/Anatomy-of-a-helm-source/">intro</a> , <a href="http://kitchingroup.cheme.cmu.edu/blog/2015/02/01/Handling-multiple-selections-in-helm/">multiple args</a> , <a href="http://kitchingroup.cheme.cmu.edu/blog/2015/02/03/helm-and-prefix-functions/">prefix args)</a> times about using Helm in Emacs so far. Today, I want to share a way I use helm to get me where I want to be in Emacs for my daily activities. This came out of a desire to have single command that would give me a lot of options to open exactly the buffer/file I wanted when I need it. I call the command hotspots, and it is bound to f9 for me, so when I press f9 I get a helm buffer to select what I want from.
</p>

<p>
So, what kinds of things do I want. First, I want to be able to open my mail, calendar, News feed or agenda from this command. Second, I have a list of hotspots I developed using the code at <a href="http://ergoemacs.org/emacs/emacs_hotkey_open_file_fast.html">http://ergoemacs.org/emacs/emacs_hotkey_open_file_fast.html</a> , which I want easy access to. Third, I want to be able to open any org-file in my agenda list. Fourth, any bookmark I have, or to set a bookmark. Fifth, I want recent files as candidates. There is certainly some redundancy in their, but that is ok, it gets me where I want to be.
</p>

<p>
Here is the code that does that for me. There are six helm sources that provide candidates and actions.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">hotspots</span> ()
  <span style="color: #036A07;">"helm interface to my hotspots, which includes my locations,</span>
<span style="color: #036A07;">org-files and bookmarks"</span>
  (interactive)
  (helm <span style="color: #006FE0;">:sources</span> `(((name . <span style="color: #008000;">"Mail and News"</span>)
                    (candidates . ((<span style="color: #008000;">"Mail"</span> . (<span style="color: #0000FF;">lambda</span> ()
                                               (<span style="color: #0000FF;">if</span> (get-buffer <span style="color: #008000;">"*mu4e-headers*"</span>)
                                                   (<span style="color: #0000FF;">progn</span>
                                                     (switch-to-buffer <span style="color: #008000;">"*mu4e-headers*"</span>)
                                                     (delete-other-windows))

                                                 (mu4e))))
                                   (<span style="color: #008000;">"Calendar"</span> . (<span style="color: #0000FF;">lambda</span> ()  (browse-url <span style="color: #008000;">"https://www.google.com/calendar/render"</span>)))
                                   (<span style="color: #008000;">"RSS"</span> . elfeed)
                                   (<span style="color: #008000;">"Agenda"</span> . (<span style="color: #0000FF;">lambda</span> () (org-agenda <span style="color: #008000;">""</span> <span style="color: #008000;">"w"</span>)))))
                    (action . ((<span style="color: #008000;">"Open"</span> . (<span style="color: #0000FF;">lambda</span> (x) (funcall x))))))
                   ((name . <span style="color: #008000;">"My Locations"</span>)
                    (candidates . ((<span style="color: #008000;">"master"</span> . <span style="color: #008000;">"~/Dropbox/org-mode/master.org"</span>)
                                   (<span style="color: #008000;">".emacs.d"</span> . <span style="color: #008000;">"~/Dropbox/kitchingroup/jmax"</span> )
                                   (<span style="color: #008000;">"blog"</span> . <span style="color: #008000;">"~/blogofile-jkitchin.github.com/_blog/blog.org"</span>)
                                   (<span style="color: #008000;">"ese"</span> . <span style="color: #008000;">"~/Dropbox/books/ese-book/ese.org"</span> )
                                   (<span style="color: #008000;">"passwords"</span> . <span style="color: #008000;">"~/Dropbox/org-mode/passwords.org.gpg"</span>)
                                   (<span style="color: #008000;">"Pycse"</span> . <span style="color: #008000;">"~/Dropbox/books/pycse/pycse.org"</span>)
                                   (<span style="color: #008000;">"references"</span> . <span style="color: #008000;">"~/Dropbox/bibliography/references.bib"</span>)
                                   (<span style="color: #008000;">"notes"</span> . <span style="color: #008000;">"~/Dropbox/bibliography/notes.org"</span>)
                                   (<span style="color: #008000;">"journal"</span> . <span style="color: #008000;">"~/Dropbox/org-mode/journal.org"</span>)
                                   (<span style="color: #008000;">"tasks"</span> . <span style="color: #008000;">"~/Dropbox/org-mode/tasks.org"</span>)))
                    (action . ((<span style="color: #008000;">"Open"</span> . (<span style="color: #0000FF;">lambda</span> (x) (find-file x))))))

                   ((name . <span style="color: #008000;">"My org files"</span>)
                    (candidates . ,(f-entries <span style="color: #008000;">"~/Dropbox/org-mode"</span>))
                    (action . ((<span style="color: #008000;">"Open"</span> . (<span style="color: #0000FF;">lambda</span> (x) (find-file x))))))
                   helm-source-recentf
                   helm-source-bookmarks
                   helm-source-bookmark-set)))
</pre>
</div>

<p>
Interesting to me is that there are not a lot of actions in here. I mostly use this command for navigation to various places. For example, I press f9, type meet, and I can quickly get to the meetings file in my agenda list, or I can type the first few letters of a student's name and open the org-file associated with them. Or I press f9 and go down an entry to open my calendar, etc&#x2026; I find this enormously helpful because it opens these files no matter where I am in Emacs, and it relieves my mind from remembering where they are, or the keystrokes/commands to get to them.</p>
<p>Copyright (C) 2015 by John Kitchin. See the <a href="/copying.html">License</a> for information about copying.<p><p><a href="/org/2015/02/04/Helm-at-the-Emacs.org">org-mode source</a><p><p>Org-mode version = 8.2.10</p>

    </div>
  </div>
</article>



<a href="https://twitter.com/share" class="twitter-share-button" data-via="johnkitchin">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="after_post"><a href="http://jkitchin.github.io/blog/2015/02/04/Helm-at-the-Emacs#disqus_thread">Read and Post Comments</a></div>
  <hr class="interblog" />






<article>
  <div class="blog_post">
    <header>
      <div id="helm-and-prefix-functions"></div>
      <h2 class="blog_post_title"><a href="/blog/2015/02/03/helm-and-prefix-functions/" rel="bookmark" title="Permanent Link to helm and prefix functions">helm and prefix functions</a></h2>
      <p><small><span class="blog_post_date">Posted February 03, 2015 at 11:12 AM</span> | categories:
        <span class="blog_post_categories"><a href='/blog/category/helm/'>helm</a>, <a href='/blog/category/emacs/'>emacs</a></span> | tags:
        | <a href="http://jkitchin.github.io/blog/2015/02/03/helm-and-prefix-functions#disqus_thread">View Comments</a>
      </small></p>
    </header>
    <div class="post_prose">




<p>
Helm modifies how you use <a href="https://www.gnu.org/software/emacs/manual/html_node/elisp/Prefix-Command-Arguments.html">prefix arguments</a> in Emacs. A prefix argument is when you type C-u before a command to modify its behavior. There are a few variations of prefix arguments. Basically, pressing C-u once sets a prefix variable to '(4), pressing twice sets it to '(16). Alternatively, C-u 7 sets the prefix to 7. In regular emacs commands, you type the prefix keys before the command. In helm, you type the after you enter the helm selection buffer, and before you press enter or select your action. In helm, you access the prefix arg in the variable helm-current-prefix-arg. Let us look at how you might use it.
</p>

<p>
We make an action function that does something conditionally depending on the prefix arg. Yes, you could write several functions to accomplish that too, but maybe there is just a little difference that you can use the prefix arg to handle. What you cannot remember 4 prefix options? You do write good doc strings on your functions right ;) If not, you probably ought to write four functions with meaningful names, and meaningful helm descriptions!
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">action</span> (candidate)
  <span style="color: #036A07;">"Our action function.</span>
<span style="color: #036A07;">with no prefix message no prefix arg</span>
<span style="color: #036A07;">with one prefix arg message C-u</span>
<span style="color: #036A07;">with two prefix args message C-u C-u</span>
<span style="color: #036A07;">with a numeric prefix arg, message the number."</span>
  (interactive <span style="color: #008000;">"p"</span>)
  (<span style="color: #0000FF;">cond</span>
   ((eq nil helm-current-prefix-arg)
    (message-box <span style="color: #008000;">"no prefix arg"</span>))
   ((equal helm-current-prefix-arg '(4))
    (message-box <span style="color: #008000;">"C-u"</span>))
   ((equal helm-current-prefix-arg '(16))
    (message-box <span style="color: #008000;">"C-u C-u"</span>))
   (t
    (message-box (format <span style="color: #008000;">"C-u %s"</span> helm-current-prefix-arg)))))

(setq some-helm-source
      '((name . <span style="color: #008000;">"HELM at the Emacs"</span>)
        (candidates . (1 2 3 4))
        (action . action)))

(helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
</pre>
</div>

<pre class="example">
C-u (64)
</pre>
<p>Copyright (C) 2015 by John Kitchin. See the <a href="/copying.html">License</a> for information about copying.<p><p><a href="/org/2015/02/03/helm-and-prefix-functions.org">org-mode source</a><p><p>Org-mode version = 8.2.10</p>

    </div>
  </div>
</article>



<a href="https://twitter.com/share" class="twitter-share-button" data-via="johnkitchin">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="after_post"><a href="http://jkitchin.github.io/blog/2015/02/03/helm-and-prefix-functions#disqus_thread">Read and Post Comments</a></div>
  <hr class="interblog" />






<article>
  <div class="blog_post">
    <header>
      <div id="Handling-multiple-selections-in-helm"></div>
      <h2 class="blog_post_title"><a href="/blog/2015/02/01/Handling-multiple-selections-in-helm/" rel="bookmark" title="Permanent Link to Handling multiple selections in helm">Handling multiple selections in helm</a></h2>
      <p><small><span class="blog_post_date">Posted February 01, 2015 at 08:51 AM</span> | categories:
        <span class="blog_post_categories"><a href='/blog/category/helm/'>helm</a>, <a href='/blog/category/emacs/'>emacs</a></span> | tags:
        | <a href="http://jkitchin.github.io/blog/2015/02/01/Handling-multiple-selections-in-helm#disqus_thread">View Comments</a>
      </small></p>
    </header>
    <div class="post_prose">




<p>
The basic usage pattern of helm is you run a command which opens a buffer of choices. You enter some text in the minibuffer which eliminates choices that do not match what you type in. You can select multiple choices by using C-spc, or M-a to mark them all. When you press enter, the current selection is sent to the default action defined. The action is a function that does something, usually on the selected item(s). Here, we explore writing the action function to do what we want. The reason this is somewhat tricky is that when you mark an item in helm, the "cursor" moves to the next item, which means when you press enter it may be possible that the current highlighted item is not part of the items you have marked. If your action will perform a delete action, for example, you may have wanted to delete the marked items, and <i>not</i> the current selection! So, what we need is a way to get what we want.
</p>

<p>
An action function in helm should normally take one argument, which is going to be the currently selected item from helm. However, we can use two different functions to access either the selected item (helm-get-selection) or the marked items (helm-marked-candidates). So, we can write our function to do "do what we mean". Note, even if you do not mark any candidates,  (helm-marked-candidates) will return a list that has the current selection in it. So we can write our action function to act on this list so it works on what is marked or what is selected if nothing is marked. That is probably "what we mean".
</p>

<p>
Here is one way to work on a selection or marked list of selections. We define an action function that takes an arg, but inside we operate on each element of the marked candidates.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">some-action</span> (candidate)
  (loop for cand in (helm-marked-candidates)
        do
        (message-box <span style="color: #008000;">"working on %s"</span> cand)))

(helm <span style="color: #006FE0;">:sources</span> '(((name . <span style="color: #008000;">"HELM"</span>)
                  (candidates . (1 2 3 4))
                  (action . ((<span style="color: #008000;">"open"</span> . some-action))))))
</pre>
</div>


<p>
Here is an alternative approach. Here we define the action function to work on one candidate. That might be helpful for testing, for example. Then, we use mapc to apply the function to each marked candidate.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">some-action</span> (candidate)
  (message-box <span style="color: #008000;">"single working on %s"</span> candidate))

(helm <span style="color: #006FE0;">:sources</span> '(((name . <span style="color: #008000;">"HELM"</span>)
                  (candidates . (1 2 3 4))
                  (action . ((<span style="color: #008000;">"open"</span> . (<span style="color: #0000FF;">lambda</span> (candidate)
                                         (mapc
                                          'some-action
                                          (helm-marked-candidates)))))))))
</pre>
</div>

<p>
A little more verbose method might be like this. Here we just pull out the lambda function to another function, to make the helm source definition a little shorter. I cannot tell if this is easier to follow, it is just another option.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">some-action</span> (candidate)
  (message-box <span style="color: #008000;">"single2 working on %s"</span> candidate))

(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">some-actions</span> (candidate)
  (mapc 'some-action (helm-marked-candidates)))

(helm <span style="color: #006FE0;">:sources</span> '(((name . <span style="color: #008000;">"HELM"</span>)
                  (candidates . (1 2 3 4))
                  (action . some-actions))))
</pre>
</div>


<p>
So there you have it. You can select multiple things in helm, and then operate on them with your action function!
</p>
<p>Copyright (C) 2015 by John Kitchin. See the <a href="/copying.html">License</a> for information about copying.<p><p><a href="/org/2015/02/01/Handling-multiple-selections-in-helm.org">org-mode source</a><p><p>Org-mode version = 8.2.10</p>

    </div>
  </div>
</article>



<a href="https://twitter.com/share" class="twitter-share-button" data-via="johnkitchin">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="after_post"><a href="http://jkitchin.github.io/blog/2015/02/01/Handling-multiple-selections-in-helm#disqus_thread">Read and Post Comments</a></div>
  <hr class="interblog" />






<article>
  <div class="blog_post">
    <header>
      <div id="Anatomy-of-a-helm-source"></div>
      <h2 class="blog_post_title"><a href="/blog/2015/01/24/Anatomy-of-a-helm-source/" rel="bookmark" title="Permanent Link to Anatomy of a helm source">Anatomy of a helm source</a></h2>
      <p><small><span class="blog_post_date">Posted January 24, 2015 at 11:15 AM</span> | categories:
        <span class="blog_post_categories"><a href='/blog/category/helm/'>helm</a>, <a href='/blog/category/emacs/'>emacs</a></span> | tags:
        | <a href="http://jkitchin.github.io/blog/2015/01/24/Anatomy-of-a-helm-source#disqus_thread">View Comments</a>
      <p><small><span class="blog_post_date">Updated January 24, 2015 at 12:09 PM</span>
      </small></p>
    </header>
    <div class="post_prose">





<p>
I have been integrating <a href="https://github.com/emacs-helm/helm">helm</a> into my emacs work flows almost anywhere I need to make interactive selections and do something with them. In this post, I will go through the simplest helm examples I can think of that get you to writing your own example.
</p>

<p>
To run a helm selection process you basically just call a function that calls this minimal function:
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
</pre>
</div>

<p>
In that code, the symbol some-helm-source will provide the input for the helm buffer. Let us look at the simplest example here. Each source should have a name, a list of candidates, and an action that works on the selected candidate. We construct a source as a list of cons cells. Here, we make a source with the name "HELM at the Emacs", a static list of candidates, which are simply a list of numbers, and a single action that will operate on the selected candidate.
</p>

<p>
If you run this block, you will get a helm buffer, you can select an entry, press enter, and you should see a message box pop up telling you what entry you selected. I like to separate the source definition from the helm call like this, but only for readability.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(setq some-helm-source
      '((name . <span style="color: #008000;">"HELM at the Emacs"</span>)
        (candidates . (1 2 3 4))
        (action . (<span style="color: #0000FF;">lambda</span> (candidate)
                    (message-box <span style="color: #008000;">"%s"</span> candidate)))))

(helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
</pre>
</div>

<pre class="example">
3
</pre>


<p>
Not bad, but what if we want some dynamic candidates? The usual way we will do that is to define a function that calculates the candidates for us. Let us work out an example that just shows us random numbers between 0 and 10 to select from. In a real example, you would use this function to generate a list of candidates like bibtex keys, email-addresses, etc&#x2026;
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">random-candidates</span> ()
  <span style="color: #036A07;">"Return a list of 4 random numbers from 0 to 10"</span>
  (loop for i below 4 collect (random 10)))

(setq some-helm-source
      '((name . <span style="color: #008000;">"HELM at the Emacs"</span>)
        (candidates . random-candidates)
        (action . (<span style="color: #0000FF;">lambda</span> (candidate)
                    (message <span style="color: #008000;">"%s"</span> candidate)))))

(helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
</pre>
</div>


<p>
So far, we have looked at the simplest list of candidates: a simple list. It may be that this is not the most convenient way to see the candidates. We might like to have one set of candidates that we use for searching, but another set of equivalent candidates used for the action. For example, we might want a list of names for selecting, but then have the action work on the corresponding email address. Let us consider a case where we have a list of cons cells of names and email addresses.
</p>

<p>
We use the `, way to create the source variable to make sure our list of candidates is constructed. Then, in our function we take the selection and get the corresponding entry in the data a-list.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(setq data '((<span style="color: #008000;">"John"</span> . <span style="color: #008000;">"john@email.com"</span>)
             (<span style="color: #008000;">"Jim"</span> . <span style="color: #008000;">"jim@email.com"</span>)
             (<span style="color: #008000;">"Jane"</span> . <span style="color: #008000;">"jane@email.com"</span>)
             (<span style="color: #008000;">"Jill"</span> . <span style="color: #008000;">"jill@email.com"</span>)))

(setq some-helm-source
      `((name . <span style="color: #008000;">"HELM at the Emacs"</span>)
        (candidates . ,(mapcar 'car data))
        (action . (<span style="color: #0000FF;">lambda</span> (candidate)
                    (message <span style="color: #008000;">"%s"</span> (cdr (assoc candidate data)))))))

(helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
</pre>
</div>

<pre class="example">
jim@email.com
</pre>

<p>
That is not too bad, and might be a general way to get to the data you want. But, helm can integrate this directly by using the a-list <i>directly</i> as the list of candidates. Helm will show you the car of each cell, but return the cdr of the selected entry.
</p>

<p>
Let us try this to make a function that will give us a helm buffer to select some names from, and then insert a comma separated list of emails from our selection at the point. We make our action function just return the list of marked candidates. Then we create a function that calls helm, and inserts a concatenated string.
</p>

<div class="org-src-container">

<pre class="src src-emacs-lisp">(setq data '((<span style="color: #008000;">"John"</span> . <span style="color: #008000;">"john@email.com"</span>)
             (<span style="color: #008000;">"Jim"</span> . <span style="color: #008000;">"jim@email.com"</span>)
             (<span style="color: #008000;">"Jane"</span> . <span style="color: #008000;">"jane@email.com"</span>)
             (<span style="color: #008000;">"Jill"</span> . <span style="color: #008000;">"jill@email.com"</span>)))

(setq some-helm-source
      `((name . <span style="color: #008000;">"HELM at the Emacs"</span>)
        (candidates . ,data)
        (action . (<span style="color: #0000FF;">lambda</span> (candidate)
                    (helm-marked-candidates)))))

(<span style="color: #0000FF;">defun</span> <span style="color: #006699;">helm-select-and-insert-emails</span> ()
  (interactive)
  (insert
   (mapconcat 'identity
              (helm <span style="color: #006FE0;">:sources</span> '(some-helm-source))
              <span style="color: #008000;">","</span>)))
</pre>
</div>
<pre class="example">
helm-select-and-insert-emails
</pre>


<p>
Here is what I get when I run the command, select John and Jill, and press enter: john@email.com,jill@email.com
</p>

<p>
That is it for this post. We looked at:
</p>

<ol class="org-ol">
<li>the simplest kind of helm interface with a fixed set of candidates
</li>
<li>A simple dynamic set of candidates
</li>
<li>A simple fixed set of candidates from a list of cons cells.
</li>
</ol>

<p>
This barely scratches the surface of helm, but is already enough to do some useful things.
</p>
<p>Copyright (C) 2015 by John Kitchin. See the <a href="/copying.html">License</a> for information about copying.<p><p><a href="/org/2015/01/24/Anatomy-of-a-helm-source.org">org-mode source</a><p><p>Org-mode version = 8.2.10</p>

    </div>
  </div>
</article>



<a href="https://twitter.com/share" class="twitter-share-button" data-via="johnkitchin">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div class="after_post"><a href="http://jkitchin.github.io/blog/2015/01/24/Anatomy-of-a-helm-source#disqus_thread">Read and Post Comments</a></div>
  <hr class="interblog" />

          </div>
          <div id="sidebar" class="grid_4">
            <aside>
<section>
<script>
  (function() {
    var cx = '002533177287215655227:l7uvu35ssbc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</section>

<section>
    <h1 class="post_header_gradient theme_font">Twitter</h1>
    <a class="twitter-timeline" href="https://twitter.com/johnkitchin" data-widget-id="545217643582881792">Tweets by @johnkitchin</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>


  <section>
    <h1 class="post_header_gradient theme_font">Links</h1>
    <ul>
    <li><a href="http://enthought.com">Enthought Python</a></li>
    <li><a href="/pycse">Pycse</a></li>
    <li><a href="/dft-book">DFT-book</a></li>
    </ul>
  </section>

  <section>
    <h1 class="post_header_gradient theme_font">Latest Posts</h1>
    <ul>
      <li><a href="/blog/2015/10/13/Line-numbers-in-org-mode-code-blocks/">Line numbers in org-mode code blocks</a></li>
      <li><a href="/blog/2015/10/11/The-Kitchingroup-welcomes-Kenate-Nemera/">The Kitchingroup welcomes Kenate Nemera</a></li>
      <li><a href="/blog/2015/10/09/Automatic-latex-image-toggling-when-cursor-is-on-a-fragment/">Automatic latex image toggling when cursor is on a fragment</a></li>
      <li><a href="/blog/2015/10/05/A-checkbox-list-in-org-mode-with-one-value/">A checkbox list in org-mode with one value</a></li>
      <li><a href="/blog/2015/10/03/A-framework-for-automated-feedback-with-Python-and-org-mode/">A framework for automated feedback with Python and org-mode</a></li>
    </ul>
  </section>

<section>
<h1 class="post_header_gradient theme_font">Latest GitHub Repos</h1>
  <a href="https://github.com/jkitchin">@jkitchin</a> on GitHub.
  <ul id="my-github-projects">
        <li class="loading">Status updating&#8230;</li>
  </ul>

</section>
</aside>

          </div>
          <div class="clear"></div>
        </div>
      </div>

<footer>
  <div id="footer" class="grid_12">
    <div class="grid_8">
      <p>
        <a href="/blog/feed/index.xml">RSS</a>
        <a href="http://kitchinresearchgroup.disqus.com/latest.rss">Comments RSS Feed</a>.
      </p>
    </div>
    <div class="grid_4" id="credits">
      <p>
        Copyright 2015
        John Kitchin
      </p>
      <p>
        Powered by <a href="http://www.blogofile.com">Blogofile</a>
      </p>
    </div>
  </div>
</footer>

    </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/jquery.tweet.js"></script>
  <script src="/js/site.js"></script>
  <!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
  <script>
      var _gaq=[['_setAccount','UA-35731398-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script>
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/kitchinresearchgroup/get_num_replies.js' + query + '"></' + 'script>');
  })();
  </script>

  </body>
</html>






<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/js/git.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
     $("#my-github-projects").loadRepositories("jkitchin");
    });
</script>
