/*  ------------------------------------------
 *  Generic stuff
 *  ------------------------------------------ */
/* http://html-color-codes.info/ */
/* http://sass-lang.com/guide */
/* http://www.w3schools.com/cssref/ */
/* replacing #555 */
body {
  background: #fffff0;
  color: #252525;
  /* font-family:Trebuchet MS,Verdana,Helvetica,sans-serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 1em; 
  line-height: 140%;
  }


a {
  text-decoration: none; }

#show-sidebar-text {
  /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/
     .show-sidebar-text is only visible with horizontal-sidebar */
  display: none;
  float: right; }

.minor-contrast {
  color: #7e7e7e; }

.minimum-contrast {
  color: #e0e0e0; }

/* ======================== */
/*    Responsive Design     */
/* ======================== */
@media (max-width: 50em) {
  /* narrow maincolumn; suppress sidebar */
  .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em; }

  .middle_section_wide, header, .published-on, footer, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 45em; }

  /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/
     .show-sidebar-text is only visible with horizontal-sidebar */
  /* #show-sidebar-text { */
  /* 	display: inline; */
  /* } */
  /* idea: show sidebar ul/li horizontal above content when page is too narrow:    */
  .sidebar {
    float: left;
    max-width: 40em;
    padding: 1em 0em 1em 0em;
    /* top right bottom left */
    line-height: 24px;
    font-size: 13px;
    /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/ */
    /* Collapsed */
    /* width: 0;  */
    /* overflow: hidden; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* height: 100%; */
    /* z-index: 1; /\* float above rest *\/ */ }
    .sidebar ul {
      list-style: outside none none;
      float: right; }
    .sidebar li {
      float: left;
      position: relative; }
    .sidebar #search_wrapper_homepage {
      width: 30px; }

  /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/ */
  /* .toggle-sidebar { */
  /* 	transition: width 0.3s ease; */
  /* } */
  /* #show-sidebar:target { */
  /* 	width: 20%; */
  /* } */
  #search-big {
    border: 0;
    visibility: hidden;
    height: 0px; }

  #search-narrow {
    border: 0;
    visibility: visible;
    height: 6em; }

  .sidebar {
    display: none; } }
@media (min-width: 50em) {
  /* narrow maincolumn; narrow sidebar */
  .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em; }

  .middle_section_wide, header, .published-on, footer, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 45em; }

  .sidebar {
    max-width: 10em;
    display: initial;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    /* #search_form_homepage { */
    /*     width: 115px; /\* original: 198px *\/ */
    /* } */
    /* #search_wrapper_homepage { */
    /*     width: 30px; */
    /* } */ }

  #search-big {
    border: 0;
    visibility: hidden;
    height: 0px; }

  #search-narrow {
    border: 0;
    visibility: visible;
    height: 6em; } }
@media (min-width: 57em) {
  /* narrow maincolumn; middle sidebar */
  .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em; }

  .middle_section_wide, header, .published-on, footer, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 45em; }

  .sidebar {
    max-width: 15em;
    display: initial;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    /* #search_form_homepage { */
    /*     width: 115px; /\* original: 198px *\/ */
    /* } */
    /* #search_wrapper_homepage { */
    /*     width: 30px; */
    /* } */ }

  #search-big {
    border: 0;
    visibility: hidden;
    height: 0px; }

  #search-narrow {
    border: 0;
    visibility: visible;
    height: 6em; } }
@media (min-width: 60em) {
  /* max maincolumn; narrow sidebar */
  .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em; }

  .middle_section_wide, header, .published-on, footer, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em; }

  .sidebar {
    max-width: 10em;
    display: initial;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    /* #search_form_homepage { */
    /*     width: 115px; /\* original: 198px *\/ */
    /* } */
    /* #search_wrapper_homepage { */
    /*     width: 30px; */
    /* } */ }

  #search-big {
    border: 0;
    visibility: hidden;
    height: 0px; }

  #search-narrow {
    border: 0;
    visibility: visible;
    height: 6em; } }
@media (min-width: 74em) {
  /* wide enough: original design without @media */
  .middle_section_narrow, .common-tags, .entry-page-article .entry-page-article-tags, .common-article, .entry-page-article, .common-article-header-title, blockquote, .example_code, .email-comment, #disqus_thread, .entry-page-greetings, .back-references {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em; }

  .middle_section_wide, header, .published-on, footer, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em; }

  .sidebar {
    max-width: initial;
    display: initial;
    line-height: initial;
    position: initial;
    font-size: initial; }

  #search-big {
    border: 0;
    visibility: visible;
    height: 6em; }

  #search-narrow {
    border: 0;
    visibility: hidden;
    height: 0px; } }
.common-header-nav, .temporal-article-header-nav, .month-overview-header-nav, .entrypage-article-header-nav, .persistent-article-header-nav {
  padding: 1em;
  /*    padding-left: 13em;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 1em;*/
  border-radius: 1em;
  box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
  margin-bottom: 20px;
  /*    margin-left: -2em;*/ }

.common-orgsource {
  float: right;
  font-size: 120%;
  font-family: Verdana, Geneva, sans-serif; }

.common-tags, .entry-page-article .entry-page-article-tags {
  /* tags CSS originally and happily stolen from http://cssglobe.com/pure-css3-post-tags/ */
  margin-right: 20%;
  /* FIXXME: workaround until format of middle-section-narrow works */
  /*margin: 0;*/
  /*padding: 0;
  margin-top: 1em;
  margin-right: -2em;*/
  float: right;
  list-style: none outside none;
  /* definition: http://www.w3schools.com/cssref/pr_list-style.asp
        list-style: list-style-type list-style-position list-style-image|initial|inherit;
     "none" was original copied value from source
     default is: "disc outside none"
     because of displaying black bullet in different browsers I try "none outside none" */ }
  .common-tags li, .entry-page-article .entry-page-article-tags li {
    float: left;
    height: 30px;
    line-height: 24px;
    position: relative;
    font-size: 13px; }
  .common-tags ul, .entry-page-article .entry-page-article-tags ul {
    list-style-type: none; }
  .common-tags a, .entry-page-article .entry-page-article-tags a {
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #2222ff;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
    .common-tags a:before, .entry-page-article .entry-page-article-tags a:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      border-color: transparent #2222ff transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0; }
    .common-tags a:after, .entry-page-article .entry-page-article-tags a:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: #fff;
      -moz-box-shadow: -1px -1px 2px #004977;
      -webkit-box-shadow: -1px -1px 2px #004977;
      box-shadow: -1px -1px 2px #004977; }
    .common-tags a:hover, .entry-page-article .entry-page-article-tags a:hover {
      background: #7e7e7e; }
      .common-tags a:hover:before, .entry-page-article .entry-page-article-tags a:hover:before {
        border-color: transparent #7e7e7e transparent transparent; }

.tag-cloud .tagcloud-size-0 {
  font-size: 80%; }
.tag-cloud .tagcloud-size-1 {
  font-size: 120%; }
.tag-cloud .tagcloud-size-2 {
  font-size: 160%; }
.tag-cloud .tagcloud-size-3 {
  font-size: 200%; }
.tag-cloud .tagcloud-size-4 {
  font-size: 260%; }
.tag-cloud .tagcloud-size-5 {
  font-size: 320%; }
.tag-cloud .tagcloud-size-6 {
  font-size: 380%; }
.tag-cloud ul {
  list-style-type: none;
  overflow: auto; }
.tag-cloud a {
  float: left;
  position: relative;
  margin-left: 20px;
  padding: 0 10px 0 12px;
  text-decoration: none; }

.common-article, .entry-page-article {
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 2em;*/
    /*tr:hover {
	color: $lightyellow;
	background-color: $darkblue;
    }*/ }
  .common-article tr:nth-child(even), .entry-page-article tr:nth-child(even) {
    background-color: #f9f9f9; }
  .common-article th, .entry-page-article th {
    background-color: #252525;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .common-article td, .entry-page-article td {
    padding-left: 0.5em;
    padding-right: 0.5em; }

.common-article-header-title {
  padding-bottom: 1em;
  padding-top: 2em;
  margin-left: 20%;
  /* FIXXME: workaround until format of middle-section-narrow works */
  margin-right: 20%;
  /* FIXXME: workaround until format of middle-section-narrow works */ }

.breadcrumbs {
  font-size: 120%;
  font-family: Verdana, Geneva, sans-serif; }

.section-title {
  color: #252525;
  margin-left: 1em; }

.orgmode-hr {
  margin-top: 3em; }

blockquote {
  /* http://tympanus.net/codrops/2012/07/25/modern-block-quote-styles/ */
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3); }
  blockquote:before {
    /* http://text.jpatch.net/2010/09/css2-no-image-quotation-marks-in-blockquotes/ */
    content: '\201C';
    margin: 1em -0.15em 1em -0.15em;
    /*color:#33a8e5;*/
    color: #e0e0e0;
    /* light-gray */
    padding: 0.15em -0.5em -0.5em -0.5em;
    font-size: 60px;
    line-height: 12px;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; }
  blockquote br {
    margin-bottom: 10px; }

.example_code {
  width: auto;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-family: "courier new"; }

/* Image positioning with CSS: */
/* https://www.w3schools.com/css/css_align.asp */
/* http://www.inmotionhosting.com/support/edu/website-design/insert-images-website/align-float-images-css */
.image-right {
  /* float: right; */
  text-align: right; }

.image-left {
  /*float: left;*/
  text-align: left; }

.image-float-right {
  float: right; }

.image-float-left {
  float: left; }

.image-center {
  text-align: center;
  /*display: block;
  margin: auto; */
  width: 100%; }

figcaption {
  font-size: 80%;
  font-style: italic; }

.email-comment {
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  text-align: center;
  color: #252525;
  font-size: 80%; }

.published-on {
  font-size: 80%;
  color: gray;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em; }

.tag-pages-link-list .timestamp {
  color: #7e7e7e;
  font-size: 80%; }

footer {
  padding: 0.1em;
  border-radius: 1em;
  box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
  text-align: center;
  color: gray;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5em; }

#disqus_thread {
  margin-left: auto;
  margin-right: auto; }

/*  ------------------------------------------
 *  Article
 *  ------------------------------------------ */
.entry-page-article {
  /*    padding-top: 3em;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 0.5em;
      margin-bottom: 1.5em;
      border-radius: 0.2em;
      box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
      background: white;*/ }
  .entry-page-article .entry-page-article-tags {
    /*margin: -1.5em -1em 0px 0px;*/ }

/*  ------------------------------------------
 *  Permanent page
 *  ------------------------------------------ */
.persistent-body {
  margin-left: auto;
  margin-right: auto; }
  .persistent-body p {
    /*@extend .middle_section_narrow;*/ }
  .persistent-body h1 {
    font-size: 100%;
    color: black; }

.entry-page-article {
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.2em;
  /*    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);*/
  box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 15px rgba(0, 0, 0, 0.3);
  background: white; }
  .entry-page-article .entry-page-article-tags {
    margin: -1.5em -1em 0px 0px; }

/*  ------------------------------------------
 *  Back-references
 *  ------------------------------------------ */
.back-references {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto; }
  .back-references hr {
    border-color: #e0e0e0;
    color: #e0e0e0;
    border-style: solid;
    display: block;
    height: 2px; }
  .back-references p {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    font-size: 80%;
    color: #7e7e7e; }
  .back-references ul {
    list-style: none;
    /* we do use other bullet characters on li-level below */ }
  .back-references li:before {
    content: "\1F517\00A0";
    /* HEX UTF-8 character for a link followed by &nbsp; */ }

/*  ------------------------------------------
 *  Sidebars
 *  ------------------------------------------ */
.sidebar {
  float: right;
  width: 15em;
  padding: 1em 0em 0em 1em;
  /* top right bottom left */
  /* #search-big { */
  /* 	visibility: visible; */
  /* } */
  /* #search-narrow { */
  /* 	visibility: hidden; */
  /* } */ }
  .sidebar ul li {
    /* definition: http://www.w3schools.com/cssref/pr_list-style.asp
          list-style: list-style-type list-style-position list-style-image|initial|inherit;
        */
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    margin-left: -2em;
    padding: 10px 0px 5px 0px; }
  .sidebar iframe {
    /* DuckDuckGo search bar */
    /* FIXXME: this does not have any effect */
    overflow: hidden;
    margin: 0;
    padding: 0;
    /*width:198px;*/
    height: 40px;
    font-size: .5em;
    padding-bottom: 0px; }

/*# sourceMappingURL=public_voit.css.map */
